.main {
    background: url(img/black-silver-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.main-scroll {
    padding: 15px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.main-text {

    margin: 15px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;


    border-top: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: inset 0px 20px 20px -15px black, inset 0px -20px 20px -15px black, 0px 0px 5px rgba(0, 0, 0, 0.534);
    background: #581200;
    background: radial-gradient(circle, rgba(214, 60, 22, 0.575) 0%, rgb(129, 22, 18) 100%);
}

.main-cards {
    margin: 25px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}