/* main-rules */
img {
    width: 100%;
}

body {
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    z-index: 101;
    position: fixed;
    transition: 0.5s;
    opacity: 100%;
}

.preloader-off {
    opacity: 0%;
}

.loader {

    width: 40vh;
    height: 40vh;
}

.loader img {

    border-radius: 25px;
    width: 100%;
    height: 100%;
}

